.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.mainLeft{
  background-color: rgb(5, 10, 36);
  height: 100vh;
  width: 50%;
}

.mainRight{
  height: 100vh;
  width: 50%;
 

}

.img{
  height: 100vh;
  width: 50%;
 background-image: url("../assets/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10;
}